name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      APP_VERSION: 1.0.${{ github.run_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: tayyabtahir
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            tayyabtahir/assetmanager:latest
            tayyabtahir/assetmanager:${{ github.sha }}
            tayyabtahir/assetmanager:${{ env.APP_VERSION }}
          build-args: |
            APP_VERSION=${{ env.APP_VERSION }}
